{% from "components/party_result_badge.html" import party_result_badge %}
{% include "components/constituencies_summary.html" %}
<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
    {% for constituency_id, results in constituencies.items() %}
    <div class="constituency-card bg-white shadow rounded-lg p-4 relative" data-region="{{ results[0].region }}">
        <div class="float-left pr-2 right-2 text-2xl">
            {% if results[0].country == 'England' %}🏴󠁧󠁢󠁥󠁮󠁧󠁿
            {% elif results[0].country == 'Scotland' %}🏴󠁧󠁢󠁳󠁣󠁴󠁿
            {% elif results[0].country == 'Wales' %}🏴󠁧󠁢󠁷󠁬󠁳󠁿
            {% elif results[0].country == 'Northern Ireland' %}🇮🇪
            {% else %}🇬🇧
            {% endif %}
        </div>
        <h2 class="text-2xl font-semibold mb-2">{{ results[0].name }}</h2>
        <div class="mb-4">
            <p><strong>Region:</strong> {{ results[0].region }}</p>
            <p><strong>2019</strong> {{ party_result_badge(results[0].result_2019) }}
               <strong class="pl-1">📈</strong>+{{ "%.2f"|format(results[0].majority_2019_percent) }}%</p>
            <p><strong>2024</strong> {{ party_result_badge(results[0].result_2024) if results[0].result_2024 else 'Not declared' }}
            <strong class="pl-1">📈</strong>
                {%- if results[0].majority_2024_number is not none and results[0].majority_2024_percent is not none -%}
                    +{{ "{:,}".format(results[0].majority_2024_number) }} ({{ "%.2f"|format(results[0].majority_2024_percent) }}%)
                {% else %}
                    👀 (🤔%)
                {% endif %}
            <strong>🗳️</strong> 
                {%- if results[0].turnout_2024_number is not none and results[0].turnout_2024_percent is not none -%}
                    {{ "{:,}".format(results[0].turnout_2024_number) }} ({{ "%.2f"|format(results[0].turnout_2024_percent) }}%)
                {% else %}
                    👀 (🤔%)
                {% endif %}
            </p>
            {% if results[0].time_declared %}
                <p><strong>Declared:</strong> {{ results[0].time_declared|datetime }}</p>
            {% endif %}
        </div>
        <table class="w-full text-sm">
            <tr>
                <th class="text-left">Candidate</th>
                <th class="text-left">Party</th>
                <th class="text-right">Votes</th>
            </tr>
            {% for result in results %}
            <tr class="{{ 'bg-yellow-100' if loop.first else '' }}" data-party="{{ result.party_code }}">
                <td class="py-1">
                    {% if loop.index == 1 %}🥇{% endif %}
                    {% if loop.index == 2 %}🥈{% endif %}
                    {% if loop.index == 3 %}🥉{% endif %}
                    {{ result.candidate }}
                </td>
                <td class="py-1">
                    {{ party_result_badge(result.party_code) }}
                    {% if result.party_code == results[0].result_2019 %}
                      {% if loop.index == 1 %}
                      <span class="pl-1 text-xs">=</span>
                      {% else %}
                      <span class="pl-1 text-xs">↓</span>
                      {% endif %}
                    {% else %}
                      {% if loop.index == 1 %}
                      <span class="pl-1 text-xs">↑</span>
                      {% endif %}
                    {% endif %}
                </td>
                <td class="text-right py-1">
                    {% if result.vote_number is not none and result.vote_share is not none %}
                        {{ "{:,}".format(result.vote_number) }} ({{ "%.2f"|format(result.vote_share) }}%)
                    {% else %}
                        Not available
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
    {% endfor %}
</div>
